html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.head {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  width: 960px;
  align-items: center;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 1rem;
  }
span.title {
  width: 11rem;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  }
.nav span{
  padding: 1rem 2rem;
  }
.nav {
  display: flex;
  justify-content: flex-end;
  width: 74%;
}
.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
}
.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span.site-message {
  background-color: white;
  padding: 1.5rem 5rem;
  font-family: Helvetica;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 10rem;
  margin-left: 30rem;
  font-weight: bold;
}
.services {
  display: inline-flex;
  justify-content: center;
  width: 960px;
}
.images {
  display: flex;
  flex-direction: column;
  margin: 3rem 6rem;
  height: 8rem;
  width: 5rem;
  justify-content: space-between;
}
img.images#paper {
  width: 3rem;
}
img.images {
  width: 100%;
  height: auto;
}
.images div {
  margin-top: 1rem;
  align-self: flex-end;
  text-align: center;
}
.final-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  width: 960px;
}
.info span {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1.5rem;
  width: 10rem;
  background-color: cadetblue;
  margin-top: 3rem;
}
.info {
  width: 35%;
  height: auto;
  margin: 0% 2.5%;
}
.info p {
  margin-top: 1rem;
}
footer{
  width: 960px;
  height: 9.5rem;
  background-color: azure;
  display: inline-flex;
  align-items: center;
  margin-top: 5rem;
}
footer img {
  height: 1.5rem;
  padding-right: 1rem;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
footer span {
  margin-left: 0rem;
}
@media only screen and (max-width: 1024px) {
  header.head {
    margin: 0;
    width: 100%;
  }
  span.site-message {
    padding: .75rem 4rem;
    margin-left: 10rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    align-self: flex-end;
    margin-right: 2rem;
  }
}
